*{
    padding: 0;
    margin: 0;
}
h1{
    background-color: rgb(12, 12, 76);
    color: white;
    text-align: center;
    height: 80px;
    line-height: 5rem;
}
.choices-box
{
    display: flex;
    height: 250px;
    width: 250px;
    margin-top: 100px;
    margin-left: 320px;
    gap: 3rem;
    
}
img:hover{
    opacity: 0.5;
}
.score-board
{
    display: flex;
    font-size: 30px;
    margin-top: 4rem;
    justify-content: center;
    align-content: center;
    gap: 5rem;
    text-align: center;
}
#user-score, #comp-score
{
    font-size: 4rem;
}
.msg-container
{
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    gap: 2rem;
}
#msg
{
    background-color: rgb(12, 12, 76) ;
    font-size: 30px;
    color: white;
   display: inline;
   padding: 1rem;
   border-radius: 10px;  
}
#msg:hover{
    background-color: palevioletred;
}